version: "3.9"

services:
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"

  backend:
    build:
      context: .
      dockerfile: Dockerfile.server
    environment:
      - MONGO_URI=mongodb+srv://user:user@cluster0.xorch95.mongodb.net/suggestion_box?retryWrites=true&w=majority&appName=Cluster0
      - JWT_SECRET=supersecretdevkey
    ports:
      - "5000:5000"
    depends_on:
      - mongo

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.client
    ports:
      - "3000:80"
    depends_on:
      - backend
